@use 'variables' as v;
@use 'base/mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    min-height: 100%;
    @include m.tablet {
        height: 100%;
    }
    display: flex;
    flex-direction: column;
    background: rgb(27, 25, 23);
    background: linear-gradient(180deg, rgb(52, 49, 49) 0%, rgrgb(0, 0, 0)00%);
    color: v.$blanco;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.boton-clh:hover{
    color: v.$azul;
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
