@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
        background: rgb(28, 27, 27);
        background: linear-gradient(180deg, rgb(14, 13, 13) 0%, rgb(27, 25, 25)0%);
    }
    

    .imagen{
        height: 20rem;
        background-image: url(../img/barbershop.jpg);
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet {
            overflow: scroll;
        }
        
    }
}

.barra {
    margin: v.$separacion;
    padding: 2rem;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton {
        @include m.boton(v.$azul, v.$blanco);
        margin: 0;
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }

    .boton {
        margin: 0 0 1rem 0;
    }
}